.boxy {
        margin: 0 -10px;
    }
    .adScroller {
        overflow-y: scroll;
        background-color: #fff;
        border: 1px solid gray;
    }
    .adScroller > p, h4 {
        padding: 0 10px 0 10px;
    }
    p {
        font-size: 11px;
    }
    
    .superLongBanner {
        width: 970px;
        height:90px;
        position: relative;
    }
    .superLongBanner > .adScroller {
        width: 200px;
        height: 88px;
        z-index: 99;
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
    }
    .superLongBanner > img {
        z-index: 1;
    }
    
    .sykbanner_image {
        width: 770px;
        height: 90px;
        background-repeat: no-repeat;
    }
    .superLongBanner.fred > .sykbanner_image {
        background-image: url(http://www.makoplasty.com/assets/images/stacked.jpg);
    }
    .frame1 {
    background-position: 0 0;
    }
    .frame2 {
    background-position: 0 -90px;
    }
    .frame3 {
    background-position: 0 -180px;
    }
